html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0px;
  font-family: Arial;
  font-size: 14px;
}

/*barra de navegacion*/

.menu {
  display: grid;
  grid-template-columns: 7% auto;
  background-color: white;
  text-align: center;
  font-size: 30px;
}
.textNav > p {
  margin: 4px;
  color: black;
  padding-right: 7%;
}

#slogan {
  font-size: 22px;
}
.logo {
  grid-row-start: 1;
  grid-row-end: 2;
  margin: 10%;
  border-radius: 8px;
}
#logo img {
  width: 35px;
  height: 30px;
}

.logo:hover {
  background-color: #a5e0d54f;
}

/*screen1*/
#screen1 {
  background-color: #d1f2eb;
  color: Black;
  text-align: center;
  height: 78vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#screen1 > h1 {
  margin-top: 0px;
}

#filterAge {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.selectAge {
  width: 50%;
  align-content: center;
}

.button {
  cursor: pointer;
  border: 2px solid #25a58b;
  color: black;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  max-width: 100px;
  margin: 0 auto;
}
.button:hover {
  background-color: #25a58b;
  color: white;
}
.button:focus{
  background-color: #61d3bc;
  border: 2px solid #61d3bc;
}
/*screen1.1*/
#flexIntro {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: rgb(235, 239, 245);
}
#item2 {
  padding: 10%;
  text-align: center;
  line-height: 30px;
  font-size: 25px;
}

#item1{
  width: 250%;
}

#friendsimg {
  width: 100%;
}

/*screen2*/
#question2 {
text-align: center;
padding-top: 30px;
padding-bottom: 30px;
background-color: #8ddece;
margin: 0px;
font-size: 20px;
}

/*where the flexes are*/
.friendTypes {
  padding: 50px;
  background-color: rgb(235, 239, 245);
}
/*3 columns*/
.ftContainer {
  display: flex;
}
/*items*/
.ftDiv {
  width: 100%;
  padding: 20px 10px 20px 10px;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  border: solid #25a58b;
}
.ftDiv:hover {
  background-color: #a5e0d54f;
  cursor: pointer;
}
.screen2img {
  width: 100px;
  height: 100px;
}
.divScreen2Img {
  display: flex;
  justify-content: center;
}

.titleCard {
  text-align: center;
}

.price {
  text-align: center;
}

.divCardDescription {
  display: flex;
  justify-content: center;
}

/* screen3*/
#screen3 {
  background-color: rgb(235, 239, 245);
}

#cardNumber {
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: auto;
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
}
#inputNumber {
  padding-top: 9px;
  padding-bottom: 9px;
}
/*screen4*/
#screen4 {
  text-align: center;
  background-color: rgb(235, 239, 245);
}
#message {
  padding-top: 14px;
  padding-bottom: 14px;
}
.sizeImput {
  padding: 8px;
}
.row {
  max-width: 70%;
  margin: 0 auto;
  display: flex;
  padding: 10px;
}

.col-40 {
  width: 40%;
  margin-top: 6px;
  text-align: left;
  display: inline-block;
}
.col-60 {
  width: 60%;
}

@media (max-width: 600px) {
  .row {
    flex-direction: column;
    align-items: center;
  }
  .col-40 {
    width: 100%;
    text-align: center;
  }
  .col-60 {
    width: 100%;
  }
}

#confirm {
  max-width: 150px;
  justify-content: center;
}
.sizeImput {
  width: 100%;
}

/*footer*/
footer {
  display: grid;
  grid-template-columns: auto auto;
  gap: 12px;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
}
.socialMedia {
  text-align: right;
}
#insta {
  width: 55px;
  height: 55px;
}
.socialimg {
  width: 50px;
  height: 50px;
}
